.landing {
    width: 100%;
    height: 45vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
}

.container {
    width: 50%;
    height: 100%;
    border: thin solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container>h1 {
    font-size: 4vw;
    font-weight: bold;
    width: 100%;
    height: 10%;
    color: #E62020;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container>p {
    font-size: 2vw;
    font-weight: 200;

}

.get-started {
    width: 40%;
    height: 8%;
    background-color: #E62020;
    border-radius: 4vw;
    color: #ffffff;
    font-size: 2vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-weight: 300;
    text-align: center;
    border: thin solid transparent;
}
