@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#root {
  border: thin solid black;
  width: 90%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* landing ==================================================================== */

main {
  min-height: 45vw;
}

/* navbar ==================================================================== */

.navbar {
  width: 100%;
  height: 5vw;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #E62020;
}

.navbar>* {
  text-decoration: none;
  color: #E62020;
  width: 12%;
  border-radius: 4vw;
  height: 70%;
  font-size: 1.5vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}


/* footer ==================================================================== */

.footer {
  width: 100%;
  height: 20vw;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: thin solid black;
}
